/* the styles for the elements */
* {
	margin: 0;
	padding: 0;
}
html {
	background-color: #659DBD;
}
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 100%;
    margin: 0 auto;
    /*border: 3px solid #931420;*/
	background-color: #659DBD;
	
	
}
a:focus, a:hover {
	font-style: italic;
}


/* the styles for the sidebar menu */



#nav_list ul li a {
    display: block;
    padding: .4em 0 .5em 1.5em;
    text-decoration: none;
    font-weight: bold;
    color: black; 
	}

#nav_list ul li a.current {
    color: #f89d9d; }



/* the styles for the main nav menu */
.header{
	width:100%;
	background-color: #808080;
}

#nav_menu ul {
	list-style: none;
	position: relative;
	margin: 0px;
	padding: 0px;
	width:100%;
}

#nav_menu ul li {
	float: left; 
}

#nav_menu ul li a {
	background-color: #808080;
	color: white;
	font-weight: bold;
	padding-top: 1.8em;
	padding-bottom: 1.4em;
	display: block; 

	text-align: center;
	text-decoration: none; 
	width:165px;	
}

#nav_menu ul li a.current {
	color: rgb(63, 245, 221);
}


#nav_menu ul ul { 
	display: none;
	position: absolute;
	top: 70%; 
}

#nav_menu ul ul li {
	float: none;
}

#nav_menu ul li:hover > ul {
	display: block; 
}

#nav_menu > ul::after {
	content: "";
	display: block;
	clear: both;
}

#join {
	background-color: #659DBD;
}
.val_error{
	color:#ff1f1f;
}



/* the styles for the main content */


/* the styles for the section */
section {
	width: 100%;
	padding: 0px;

	
}


section h2 {
	color: #e61b1b;
	font-size: 90%;
	padding-top: 4.5em;
	padding-left: 5%;
	margin: 0;
	
} 

section p {
	padding-left: 5%;
	
}
ul {
	padding-left: 5%;
} 

action{
	padding-left: 5%;
}
form{
	padding-left: 5%;
}
/*container*/
table {
margin-left: 50px;

}
#img{
	position: absolute;
	right:0;
}

#email
{
	text-decoration: underline;
}
#website 
{
	text-decoration: underline;
	
}
#phone
{
	text-decoration: underline;
}
/* the styles for the footer */
footer {
	background-color: #931420;
	clear: both;

}
footer p {
	text-align: center;
	color: white;
	padding: 0.9em 0;
}
header, footer {
    padding: 0.1em;
    color: white;
    background-color: rgba(184, 168, 78, 0.918);
    text-align: center;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #659DBD;
    padding: 20px;
}



