/* the styles for the elements */
* {
	margin: 0;
	padding: 0;
}
html {
	background-color: #659DBD;
}
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 100%;
    margin: 0 auto;
    /*border: 3px solid #931420;*/
	background-color: #659DBD;
	
	
}
a:focus, a:hover {
	font-style: italic;
}


/* the styles for the sidebar menu */



#nav_list ul li a {
    display: block;
    padding: .5em 0 .5em 1.5em;
    text-decoration: none;
    font-weight: bold;
    color: black; 
	}

#nav_list ul li a.current {
    color: #f89d9d; }



/* the styles for the main nav menu */


#nav_menu ul {
	list-style: none;
	position: relative;
	margin: 0px;
	padding: 0px;
}

#nav_menu ul li {
	float: left; 
}

#nav_menu ul li a {
	background-color: #808080;
	color: white;
	font-weight: bold;
	padding-top: 1.8em;
	padding-bottom: 1.4em;
	display: block; 

	text-align: center;
	text-decoration: none; 
	width:165px;	
}

#nav_menu ul li a.current {
	color: yellow;
}


#nav_menu ul ul { 
	display: none;
	position: absolute;
	top: 70%; 
}

#nav_menu ul ul li {
	float: none;
}

#nav_menu ul li:hover > ul {
	display: block; 
}

#nav_menu > ul::after {
	content: "";
	display: block;
	clear: both;
}



/* the styles for the main content */


/* the styles for the section */
section {
	width: 100%;
	padding: 0px;

	
}


section h2 {
	color: #e61b1b;
	font-size: 90%;
	padding-top: em;
	padding-left: 5%;
	margin: 0;
	
} 

section p {
	padding-left: 5%;
	
}
ul {
	padding-left: 5%;
} 

action{
	padding-left: 5%;
}
form{
	padding-left: 5%;
}
/*container*/
table {
margin-left: 50px;

}

#email
{
	text-decoration: underline;
}

#phone
{
	text-decoration: underline;
}
/* the styles for the footer */
footer {
	background-color: #931420;
	clear: both;

}
footer p {
	text-align: center;
	color: white;
	padding: 0.9em 0;
}
header, footer {
    padding: 0.1em;
    color: white;
    background-color: rgba(214, 194, 105, 0.918);
    text-align: center;
}

